* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
    background-color: red;
}

.hola {
    color: blue;
    font-size: 40px;
}

.contenedor {
    background-color: #fff;
    position: relative;
}

.cabecera {
    height: 120px;
    display: flex;
    justify-content: flex-end;
}

.barra-navegacion {
    width: 80%;
    margin: auto;
}

.lista {
    display: flex;
    justify-content: flex-end;
    line-height: 120px;
    column-gap: 40px;
}

.l-lista {
    list-style: none;
    height: min-content;
    width: min-content;
    line-height: 40px;
    text-align: center;
    background-color: black;
    border-radius: 12px;
    height: 40px;
    width: 170px;
    transition: background-color 0.5s;
    position: relative;
}

.l-lista:hover {
    background-color: #444;
    cursor: pointer;
}

.l-lista>a {
    text-decoration: none;
    height: max-content;
    width: max-content;
    color: wheat;
}

.seccion {
    height: 400px;
    width: 300px;
    background-color: #ccc2;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 38%;
    right: 38%;
    border: 1px solid black;
    border-radius: 12px;
    transform: translateY(-700px);
    transition: all 1s;
}

.seccion-active {
    height: 400px;
    width: 300px;
    background-color: #ccc2;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 38%;
    right: 38%;
    border: 1px solid black;
    border-radius: 12px;
    transform: translateY(0px);
    transition: all 1s;
}

.registrarse {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    margin-top: 50px;
}

.input-item {
    height: 30px;
    width: 280px;
    border-radius: 3px;
    background-color: rgb(233, 221, 221);
    border: none;
}

.input-item:focus {
    background-color: #fff;
}

.bt-salir {
    background-color: rgb(238, 11, 11);
    height: 25px;
    width: 25px;
    text-align: center;
    padding-top: 4px;
    font-family: 'Courier New', Courier, monospace;
    right: 0;
    border-radius: 0px 12px 0px 0px;
    position: absolute;
    cursor: pointer;
}

.bt-salir:hover {
    background-color: rgb(148, 1, 18);
}

.select-elementos {
    height: 35px;
    width: 200px;
}

.titulo-reg {
    margin-top: 30px;
}

.bt-aceptar {
    width: 80px;
    cursor: pointer;
    transition: width 0.5s;
    margin-top: 30px;
}

.bt-aceptar:hover {
    width: 85px;
}


.contenedor-tabla{
    width: 80%;
    margin: auto;
}

